- @districts = get_zone_districts @zone_type

%h5 
  = @zone_type
  \-
  = @districts.first[:district_title]
%p= @districts.first[:juan_description]
%table.table.table-bordered
  %thead
    %tr
      %th
      %th Name
      %th{:rel => "popover", :"data-placement" => 'bottom', :"data-original-title" => "Floor area ratio", :"data-content" => "A building's total floor area - that is, the square footage of every floor - divided by the area of the parcel of land its built on. Controls a property's density." } Floor area ratio
      %th{:rel => "popover", :"data-placement" => 'bottom', :"data-original-title" => "Lot area per unit", :"data-content" => "The amount of lot area required for each dwelling unit on the property. Like floor area ratio, controls a property's density. " } Lot area per unit
      %th{:rel => "popover", :"data-placement" => 'bottom', :"data-original-title" => "Maximum height", :"data-content" => "How tall your building can be. While a building's FAR and Lot Area per Unit regulate its density, max building height works in concert with setback requirements to control its bulk." } Maximum height
      %th{:rel => "popover", :"data-placement" => 'bottom', :"data-original-title" => "Front yard setback", :"data-content" => "The required distance between a building and its lot's street-facing edge. Basically, how big your front yard needs to be. Controls a building's bulk." } Front yard setback
      %th{:rel => "popover", :"data-placement" => 'bottom', :"data-original-title" => "Side yard setback", :"data-content" => "The required distance between a building and its lot's side property line. Basically, how much room you need to leave between buildings. Controls a building's bulk." } Side yard setback
      %th{:rel => "popover", :"data-placement" => 'bottom', :"data-original-title" => "Back yard setback", :"data-content" => "The required distance between a building and its lot's rear property line. Basically, how big of space you need behind your building. Controls a building's bulk." } Back yard setback
  %tbody
    - @districts.each do |zone|
      - zone_css = zone[:district_type_code].gsub(/[^A-Z]/, '')
      %tr
        = "<td id='#{zone[:district_type_code].gsub(/\s+/,'-')}' class='zone-#{zone_css}'></td>"
        %td
          %a{:href => "/zone/#{zone[:district_type_code]}"}
            = zone[:district_type_code]
        %td= zone[:floor_area_ratio]
        %td= zone[:lot_area_per_unit]
        %td= zone[:maximum_building_height]
        %td= zone[:front_yard_setback]
        %td= zone[:side_setback]
        %td= zone[:rear_yard_setback]