.row-fluid
  .span3
    .well
      %h3 Sections
      %ol
        %li
          %a{:href => "#what-is-this"} What is this?
        %li
          %a{:href => "#what-is-zoning"} What is zoning?
        %li
          %a{:href => "#how-does-zoning-work"} How does zoning work in Chicago?
        %li
          %a{:href => "#zoning-types"} What are the different zoning types?
        %li
          %a{:href => "#team"} Team
        %li
          %a{:href => "#data"} Data
        %li
          %a{:href => "#code"} Code

  .span7
    %h2 About
    %hr
    %h4#what-is-this What is this?
    %p Chicago Zoning is an interactive map lets you:
    %ul
      %li
        find out
        %strong how your building is zoned
      %li
        learn
        %strong what kinds of buildings
        and businesses you can build and where
      %li
        explore
        %strong zoning patterns
        throughout the city

    %p
      I took inspiration from one of my favorite games:
      = succeed '.' do
        = link_to "Sim City 2000", "http://en.wikipedia.org/wiki/SimCity_2000"
      It started with the color scheme:
      %strong{:style => 'color: #7DD67D;'} green
      for residential,
      %strong{:style => 'color: #7474D7;'} blue
      for commercial and
      %strong{:style => 'color: #DCDC7F;'} yellow
      for industrial.
      From there I got a little carried away. Graphics, sounds, music, oh my.

    %p
      Just like all
      %a{:href => 'http://opencityapps.org'} Open City
      apps, it is entirely
      %a{:href => '#code'} open source
      and built with
      = succeed '.' do
        %a{:href => '#data'} open data

    %hr
    %h4#what-is-zoning What is zoning?

    %p
      Zoning is making sure a factory doesn't open next door to a school.
    %p
      It consists of
      %a{:href => '/docs/Chicago-Zoning-Ordinance.pdf'} regulations
      governing what you can do on a property and how big the
      building can be. Its a way of organizing and clustering functions of a city or town.

    %hr
    %h4#how-does-zoning-work How does zoning work in Chicago?
    %p
      All areas of Chicago are designated a
      %strong zoning type
      and a
      = succeed '.' do
        %strong zoning class

    %p
      The type is a larger bucket that designates the general purpose of the area, like residential (R) or commercial (C).
    %p
      The class determines the density (building height, setback and floor to area ratio) and is indicated by a number (usually between 1 and 5). The larger the number, the more dense the buildings can be.

    %p
      Zoning is controlled by Chicago's City Council. They have a Zoning Board that reviews all proposed zoning changes, which are then passed on to a City Council vote. Unlike most cities, each zoning change, when approved, is put down in the books as a
      = succeed '.' do
        %strong separate ordinance

    %p
      Zoning changes can be proposed in two ways:

    %ul
      %li
        As a submitted proposal with no Aldermanic sponsor, requiring financial and personal disclosures, along with submitted architecture drawings.
      %li
        As an Aldermanic decree, consisting of a few sentences.

    %p more on this?

    %hr
    %h4#zoning-types What are the different zoning types?

    %p
      The 12 different zoning types in Chicago are:

    %dl
      %dt Business (B) and Commercial (C)
      %dd
        The “B” and “C” (Business and Commercial) districts are intended to accommodate retail, service and commercial uses and to ensure that business and commercial-zoned areas are compatible with the character of existing neighborhoods.
      %dt Manufacturing (M)
      %dd
        The “M,” Manufacturing districts are intended to accommodate manufacturing, warehousing, wholesale and industrial uses outside the Central Area.
      %dt Residential (R)
      %dd
        The “R,” residential districts are intended to create, maintain and promote a variety of housing opportunities for individual households and to maintain the desired physical character of the city’s existing neighborhoods. While the districts primarily accommodate residential use types, nonresidential uses that are compatible with residential neighborhoods are also allowed.
      %dt Planned development (PD)
      %dd
        Uses identified with a “PD” may be allowed if reviewed and approved in accordance with the planned development procedures of Sec. 17-13-0600. Other uses and development activities may also require review and approval as a planned development based on their size, height or other threshold criteria. (See the mandatory planned development thresholds of Sec. 17-8- 0500.)
      %dt Downtown core (DC)
      %dd
        The DC, Downtown Core district is primarily intended to promote high-intensity office and employment growth within the downtown core.
      %dt Downtown mixed use (DX)
      %dd
        The DX, Downtown Mixed-Use district is primarily intended to accommodate office, commercial, public, institutional and residential development.
      %dt Downtown residential (DR)
      %dd
        The DR, Downtown Residential district is primarily intended to accommodate residential development and small-scale commercial uses on lower floors, with residential units above.
      %dt Downtown service (DS)
      %dd
        The DS, Downtown Service district is primarily intended to accommodate commercial and service uses that are essential for the livelihood of businesses and residents of the downtown area and surrounding neighborhoods.
      %dt Planned manufacturing districts (PMD)
      %dd
        The "PMD," Planned Manufacturing District are 14 large areas designated as main industrial corriodors of the city.
      %dt Ttransportation district (T)
      %dd
        The “T,” Transportation zoning district is intended to preserve, protect and enhance road, rail and other important transportation corridors and to ensure public review of proposals to convert such corridors to non-transportation use.
      %dt Parks and Open Space (POS)
      %dd
        The “POS,” Parks and Open Space zoning district is intended to preserve, protect and enhance lands set aside for public open space, public parks and public beaches.

    %p
      = succeed '.' do
        %a{:href => '/zones'} See the full list of zoning types
    %p
      For more details, read the
      = succeed '.' do
        %a{:href => '/docs/Chicago-Zoning-Ordinance.pdf'} City of Chicago Zoning Ordinance

    %hr
    %h4#dear-maxis Dear Maxis and Electronic Arts: Don't sue us!

    %p
      We are using some music and sound effects from Sim City 2000 on this website. This is not to make a Sim City competitor, but to make the experience of diving in to zoning laws fun!
    %p
      Sim City is a trademark of Maxis and Electronic Arts.

    %p [section on music credits]

    %p [link to buy Sim City game]

    %hr
    %h4#team Team
    %p
      This is an
      %a{:href => 'http://opencityapps.org'} Open City
      project done as a volunteer effort. We built this site for fun and education (ours and yours).

    %p
      The team is:

    %ul
      %li
        %a{:href => "http://derekeder.com"} Derek Eder
        \- developer and designer
      %li
        %a{:href => "https://jpvelez.contently.com/"} Juan-Pablo Velez
        \- zoning research and descriptions

    %hr
    %h4#data Data

    %p
      This site was built with
      %a{:href => 'http://data.cityofchicago.org/'} zoning shapefiles
      from the City of Chicago Data Portal.

      We love that the City of Chicago has opened their data for citizens to use. This site represents just one example of what can be done with it. We hope it inspires others to dive in to zoning (and other) datasets the
      = succeed ',' do
        %a{:href => 'http://data.cityofchicago.org/'} City
      %a{:href => 'http://data.cookcountyil.gov/'} County
      and
      %a{:href => 'http://data.il.gov'} State
      have released.

    %hr
    %h4#code Code
    %p
      All the code for this site is open source. It was built with Sinatra, Ruby, Haml, Twiiter Bootstrap, Javascript and Google's Fusion Tables and Maps API. The data is stored in Fusion Tables and was pulled from the
      = succeed "." do
        %a{:href => "http://data.cityofchicago.org/"} City of Chicago Data Portal
    %p Technologies used:
    %ul
      %li
        %a{:href => "http://www.ruby-lang.org/en/downloads"} Ruby 1.9.3
      %li
        %a{:href => "http://www.sinatrarb.com"} Sinatra
      %li
        %a{:href => "http://haml.info"} Haml
      %li
        %a{:href => "http://www.heroku.com"} Heroku
      %li
        %a{:href => "http://twitter.github.com/bootstrap"} Twitter Bootstrap
      %li
        %a{:href => "http://jquery.com"} jQuery
      %li
        %a{:href => "http://code.google.com/apis/maps/documentation/javascript/"} Google Maps API V3
      %li
        %a{:href => "http://www.google.com/fusiontables"} Google Fusion Tables
    %p
      All the code for this project is up on
      = succeed "." do
        %a{:href => "https://github.com/open-city/chicago-zoning"} Github