.row-fluid
  .span3
    .well
      %h3 Sections
      %ol
        %li
          %a{:href => "#what-is-this"} What is this?
        %li
          %a{:href => "#what-is-zoning"} What is zoning?
        %li
          %a{:href => "#how-does-zoning-work"} How does zoning work in Chicago?
        %li
          %a{:href => "#how-does-zoning-get-changed"} How does zoning get changed?
        %li
          %a{:href => "#zoning-categories"} What are the different zoning categories?
        %li
          %a{:href => "#team"} Team and credits
        %li
          %a{:href => "#data"} Data
        %li
          %a{:href => "#code"} Code
        %li
          %a{:href => "#contact-us"} Contact us

  .span7
    %h2 About
    %hr
    %h4#what-is-this What is this?
    %p 2nd City Zoning is an interactive map lets you:
    %ul
      %li
        find out
        %strong how your building is zoned
      %li
        learn
        %strong where to locate your business
      %li
        explore
        %strong zoning patterns
        throughout the city

    %p
      To make Chicago's zoning code digestible by humans,
      we took inspiration from one of our favorite games:
      = succeed '.' do
        = link_to "Sim City 2000", "http://en.wikipedia.org/wiki/SimCity_2000"
      It started with the color scheme:
      %strong{:style => 'color: #7DD67D;'} green
      for residential,
      %strong{:style => 'color: #7474D7;'} blue
      for commercial and
      %strong{:style => 'color: #DCDC7F;'} yellow
      for industrial. (This oversimplifies things a bit, 
      = succeed '.)' do
        %a{ :href => '/about#zoning-categories' } read the full story
      From there we got a little carried away. Graphics, sounds, music, oh my.

    %p
      Like all
      %a{:href => 'http://opencityapps.org'} Open City
      apps, Second City Zoning is entirely
      %a{:href => '#code'} open source
      and built with
      = succeed '.' do
        %a{:href => '#data'} open data

    %hr
    %h4#what-is-zoning What is zoning?

    %p
      Zoning basically makes sure a factory doesn't open next to a school.
    %p
      It consists of
      %a{:href => '/docs/Chicago-Zoning-Ordinance.pdf'} regulations
      that control how big of a building you can build on a property, 
      what you can do inside it. You can't just build anything anywhere -
      every property in Chicago lives in a zoning district of one kind or another. 
    %p 
      These districts shape the physical character and economic 
      makeup of our neighborhoods. They're the DNA of our city's build environment:
      some districts allow high rises to sprout around downtown, others encourage
      walkable, mixed-use commercial corridors on arterial streets, and 
      still others insulate the city's lingering industrial corridors. 
    %p
      Zoning is controlled by Chicago's 
      = succeed '.' do
        %a{:href => 'http://www.cityofchicago.org/city/en/about/council.html'} City Council
      They have a 
      %a{:href => 'https://www.cityofchicago.org/city/en/depts/dcd/supp_info/zoning_board_of_appeals.html'} Zoning Board 
      that reviews all proposed zoning changes, which are then passed on to a City Council vote. Unlike most cities, each zoning change, when approved, is put down in the books as a
      = succeed '.' do
        %strong separate ordinance
      = succeed '.' do
        %a{:href => 'http://chicago.legistar.com/LegislationDetail.aspx?ID=1222600&GUID=95D948AE-2AF6-4D85-95CC-AE7AD0F403F6&Options=Advanced&Search='} Here's an example of one


    %hr
    %h4#how-does-zoning-work How do zoning districts work?
    %p
      All properties in Chicago fall within a zoning district. These districts are grouped 
      into 
      %a{ :href => '' } broad categories 
      like Residential and Manufacturing.
    %p
      Every zoning district has a designation (in 'land use-density' format,) a name, and a description. Let's look at an example:
    .well
      %h5
        B1-1: Neighborhood Shopping District
      %p
        %strong What's here?
        Retail storefronts on low-traffic streets. Apartments allowed above the ground floor.

    %p
      Remember, zoning is about land use - what you can do with a property - and density - how big the building can be. 
    %p
      The "B1" piece of this district's designation captures the 
      %strong land use 
      part. The zoning ordinance
      lists in excrutiating detail every business that is and isn't allow in a B1 district. Its official official name is a "Neighborhood Shopping District," and we distilled the description of what goes on there from the zoning ordinance. (No need to thank us.)
    %p
      By the way, the B1 designation starts with the letter "B" because it falls under the 
      %a{ :href => 'http://secondcityzoning.org/zones#B' } Business category 
      of zoning districts, which also contains Neighborhood Mixed-Use (B2) and Community Shopping (B3) districts.
    %p
      The "-1" bit of the designation captures the 
      %strong density 
      part. In zoning, there are a bunch
      of rules ("density and bulk requirements," in zoning-speak) that restrict how big a building you can build on a property -
      titillating things like maximum height requirements, floor-area ratios, and others. (They're all explained 
      = succeed '.)' do
        %a{ :href => 'http://secondcityzoning.org/zoning_rules' }here

    %p 
      The larger the number after the hyphen, the denser the buildings can be. 
      In all, there are five flavors of B1 district, B1-1 through B1-5. They all allow exactly
      the same land uses, but you can building denser buildings in B1-3 and B1-5 districts 
      than in B1-1. This "land use-density" designation pattern applies to all districts.

    %hr
    %h4#how-does-zoning-get-changed How does zoning get changed?

    %p
      Zoning changes can be proposed in two ways:

    %ol
      %li
        %p
          As a 
          %a{:href => 'http://www.cityofchicago.org/city/en/depts/dcd/provdrs/admin/svcs/zoning_amendments.html'} Zoning Reclassification Application 
          with no Aldermanic sponsor, requiring financial and personal disclosures, along with submitted architecture drawings and a non-refundable fee of $1,025. 
        %p
          Here's 
          %a{:href => 'http://chicago.legistar.com/LegislationDetail.aspx?ID=1222600&GUID=95D948AE-2AF6-4D85-95CC-AE7AD0F403F6&Options=Advanced&Search='} an example
          of one of these applications. 

      %li
        %p
          As an ordinance sponsored by an Alderman, consisting of a few sentences. 
        %p
          Here's an example of a re-classification at 
          %a{:href => 'http://chicago.legistar.com/LegislationDetail.aspx?ID=1195282&GUID=817208B6-563D-4A16-A846-EA72C085E02C&Options=Advanced&Search='} 1511-1553 W Division St and 1141 N Ashland Ave
          sponsored by Alderman Proco Joe Moreno.

    %p
      In Chicago, aldermen have long controlled most zoning decisions, giving them significant 
      sway over the shape and evolution of neighborhoods.


    %hr
    %h4#zoning-categories What are the different zoning categories?

    %p
      In Chicago, all districts fall within one of twelve broad zoning categories, explained
      below. To learn more about a particular district, visit the 
      %a{:href => '/zones'} zoning districts page
      or read the
      = succeed '.' do
        %a{:href => '/docs/Chicago-Zoning-Ordinance.pdf'} City of Chicago Zoning Ordinance

    %h5
      %a{:href => '/zones#R'}
        %img{:src => '/images/icons/residential.png', :alt=> 'Residential'}
        Residential (R)
    %p
      Houses and apartment buildings only on these parcels! No stores, offices, or factories allowed. Schools, churches, police stations and the like are cool, though.
    %h5
      %a{:href => '/zones#B'}
        %img{:src => '/images/icons/commercial.png', :alt=> 'Commercial'}
        Business (B)
    %p
      From bodegas to big boxes, these districts are for stores and offices. B districts promote walkable storefronts and shopping centers. To promote mix-use neighborhoods, above-ground floor apartments are usually cool.
    %h5
      %a{:href => '/zones#C'}
        %img{:src => '/images/icons/commercial.png', :alt=> 'Commercial'}
        Commercial (C)
    %p
      C districts are also geared towards commerce, but allow a wider variety of businesses than B districts, especially car-oriented stuff like strip malls and drive-through banks. Above-ground floor apartments are usually still okay.
    %h5
      %a{:href => '/zones#D'}
        %img{:src => '/images/icons/commercial-residential.png', :alt=> 'Commercial'} 
        Downtown (D)
    %p
      Downtown zoning districts can only be found in the Loop and its environs. They're what makes it legal to build high-rise offices and apartments downtown. Weirdly, the Downtown Service (DS) districts in this category also cover the South Loop warehouse area between the Dan Ryan and the Chicago River.  
    %h5
      %a{:href => '/zones#M'}
        %img{:src => '/images/icons/industrial.png', :alt=> 'Manufacturing'}
        Manufacturing (M)
    %p
      Factories, warehouses, freight, junkyards... all the heavy duty stuff that still litters Chicago's industrial corridors. These districts range from nondescript warehouses (M1) to hardcore factories (M3).
    %h5 
      %a{:href => '/zones#PMD'}
        %img{:src => '/images/icons/industrial.png', :alt=> 'Manufacturing'}
        Planned manufacturing districts (PMD)
    %p
      Fourteen special zoning districts that protect industry from encroachment by commercial and residential buildings. Unlike other districts, parcels in PMDs cannot be rezoned to non-industrial uses, so they take zoning decisions out of aldermens' hands. 
    %p 
      In 1988, the Harold Washington administration created the Clybourn Corridor, the city's first PMD, and Daley continued the policy. For an evaluation of whether the PMD's have actually kept industrial jobs in Chicago, see Joel Rast's article "
      %a{ :href => 'https://www4.uwm.edu/ced/publications/pmdstudy1.pdf'}Curbing Industrial Decline or Thwarting Redevelopment?
      "
    %h5 
      %a{:href => '/zones#PD'}
        %img{:src => '/images/icons/government.png', :alt=> 'Planned Development'} 
        Planned development (PD)
    %p
      Tall buildings, hospital campuses, and other large developments that must be negotiated with city planners. Developers gain freedom in building design (read: they can bend the zoning rules,) but must work with city to ensure projects gel with and benefit the neighborhood.
    %h5 
      %a{:href => '/zones#T'}
        %img{:src => '/images/icons/trains.png', :alt=> 'Planned Development'} 
        Transportation district (T)
    %p
      Bits of land designed to protect roads, bus ways, bike trails, and rail lines. Only a handful of properties in town are zoned this way.
    %h5
      %a{:href => '/zones#POS'}
        %img{:src => '/images/icons/parks-entertainment.png', :alt=> 'Parks and Open Space'} 
        Parks and Open Space (POS)
    %p
      Protects land set side for public parks, open space, beaches, and cemeteries. Most Chicago Park District land lives in these districts. Also, this is what keeps the lakefront forever open, free, and clear.

    %hr
    %h4#dear-maxis Dear Maxis and Electronic Arts: Don't sue us!

    %p
      We are using some music and sound effects from 
      %a{:href => 'http://en.wikipedia.org/wiki/SimCity_2000'} Sim City 2000 
      on this website. This is not to make a Sim City competitor, but to make the experience of diving in to zoning laws fun!

    %h5 Credits
    %p 
      Sim City 2000 was made by 
      %a{:href => 'http://en.wikipedia.org/wiki/Will_Wright_(game_designer)'} Will Wright 
      and 
      %a{:href => 'http://en.wikipedia.org/wiki/Fred_Haslam'} Fred Haslam
      and many others at 
      = succeed '.' do
        %a{:href => 'http://www.maxis.com/'} Maxis
    %p
      Sim City 2000 soundtrack by Brian Conrad, Sue Kasper, Justin McCormick.
    %p
      &copy; Maxis/Maxis, Electronic Arts, DSI Games/Zoo Digital (GBA), all rights reserved. 
    %p
      Sim City is a trademark of Maxis.

    %h5 Buy it!
    %p 
      If you love Sim City as much as we do, go buy it!

    %ul
      %li
        %a{:href => 'https://www.google.com/search?q=sim+city+2000&hl=en&tbo=u&source=univ&tbm=shop'} Sim City 2000
        on Google Shopping
      %li
        %a{:href => 'http://www.gog.com/gamecard/simcity_2000_special_edition'} Sim City 2000
        on Gog.com

    %hr
    %h4#team Team and credits
    %p
      This is an
      %a{:href => 'http://opencityapps.org'} Open City
      project done as a volunteer effort. We built this site for fun and education (ours and yours).

    %p
      The team is:

    %ul
      %li
        %a{:href => "http://derekeder.com"} Derek Eder
        \- developer and designer
      %li
        %a{:href => "https://jpvelez.contently.com/"} Juan-Pablo Velez
        \- zoning research and descriptions
      %li
        %a{:href => "https://ayaoconnor.com"} Aya O'Connor
        \- logo and design

    Thanks to the 
    %a{:href => 'http://cct.org'} Chicago Community Trust 
    for helping us increase our
    = succeed '.' do 
      %a{:href => 'https://developers.google.com/fusiontables/docs/v1/using#Geo'} Google Fusion Tables limit

    %hr
    %h4#data Data

    %p
      This site was built with
      %a{:href => 'https://data.cityofchicago.org/Community-Economic-Development/Boundaries-Zoning-Districts/p8va-airx'} zoning shapefiles
      from the City of Chicago 
      = succeed '.' do
        %a{:href => 'https://data.cityofchicago.org/'} Data Portal
    %p
      We love that the City of Chicago has opened their data for citizens to use. This site represents just one example of what can be done with it. We hope it inspires others to dive in to zoning (and other) datasets the
      = succeed ',' do
        %a{:href => 'http://data.cityofchicago.org/'} City
      %a{:href => 'http://data.cookcountyil.gov/'} County
      and
      %a{:href => 'http://data.il.gov'} State
      have released.

    %hr
    %h4#code Code
    %p
      All the code for this site is open source. It was built with Sinatra, Ruby, Haml, Twiiter Bootstrap, Javascript and Google's Fusion Tables and Maps API. The data is stored in Fusion Tables and was pulled from the
      = succeed "." do
        %a{:href => "http://data.cityofchicago.org/"} City of Chicago Data Portal
    %p Technologies used:
    %ul
      %li
        %a{:href => "http://www.ruby-lang.org/en/downloads"} Ruby 1.9.3
      %li
        %a{:href => "http://www.sinatrarb.com"} Sinatra
      %li
        %a{:href => "http://haml.info"} Haml
      %li
        %a{:href => "http://www.heroku.com"} Heroku
      %li
        %a{:href => "http://twitter.github.com/bootstrap"} Twitter Bootstrap
      %li
        %a{:href => "http://jquery.com"} jQuery
      %li
        %a{:href => "http://code.google.com/apis/maps/documentation/javascript/"} Google Maps API V3
      %li
        %a{:href => "http://www.google.com/fusiontables"} Google Fusion Tables
    %p
      All the code for this project is up on
      = succeed "." do
        %a{:href => "https://github.com/open-city/chicago-zoning"} Github

    %hr
    %h4#contact-us Contact us

    %p
      Found a bug? Have a suggestion? Want to sue us? (please don't!) Contact us at 
      %a{:href => 'mailto:second-city-zoning@opencityapps.org'} second-city-zoning@opencityapps.org