!!!
%html{:lang => "en"}
  %head
    %title Open City Mapping Template
    %meta{:"http-equiv" => "Content-Type",       :content => "text/html; charset=utf-8"}
    %meta{:"http-equiv" => "Content-Style-Type", :content => "text/css"}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
            
    / Styles
    = include_stylesheet :bootstrap
    = include_stylesheet :default
    = content :stylesheets
    
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      = include_javascript "http://html5shim.googlecode.com/svn/trunk/html5.js"

  %body
    #container
      .page-header
        %h1
          Open City Mapping Template

      = yield
    
    = include_javascript :jquery
    = content :javascripts

    = include_javascript :"analytics_lib" if production?

