!!! 5
%html{:lang => "en"}
  %head
    %title Chicago Zoning
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    
    / Styles
    = include_stylesheet :bootstrap
    = include_stylesheet "bootstrap-responsive"
    = include_stylesheet :custom
    = include_stylesheet "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
    = content :stylesheets
    
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .container-fluid
      .page-header
        %ul.nav.nav-pills.pull-right
          %li{:class => current_menu_class("home")}
            %a{:href => "/"} Home
          %li{:class => current_menu_class("about")}
            %a{:href => "/about"} About
          %li{:class => current_menu_class("zones")}
            %a{:href => "/zones"} Zone definitions
        %h1
          %a{:href => "/"} Chicago Zoning
          %small How is my building zoned?
          
      = yield
    
    = include_javascript :jquery
    = include_javascript :bootstrap
    = content :javascripts
    
    = include_javascript :"jquery.ba-hashchange" if production?
    = include_javascript :"analytics_lib" if production?