.row-fluid
  .span8
    %p
      %a{:href => '/zones'} &laquo; Zone definitions
    %h2 
      = @zone[:district_type_code]
      %small
        = decodeZoneClass(@zone[:zone_type])
        \- 
        = @zone[:disctrict_title]

    %p
      = @zone[:juan_description]

    %hr
    %h4 Specifications
    %dl
      %dt Floor area ratio
      %dd= @zone[:floor_area_ratio]

      %dt Maximum building height
      %dd= @zone[:maximum_building_height]

      %dt Lot area per unit (density)
      %dd= @zone[:lot_area_per_unit]

    %hr
    %h4 Setbacks
    %dl
      %dt Front yard
      %dd= @zone[:front_yard_setback]

      %dt Side
      %dd= @zone[:side_setback]

      %dt Back yard
      %dd= @zone[:rear_yard_setback]

    - if @zone[:rear_yard_open_space] != 'N/A' and @zone[:on_site_open_space] != 'N/A'
      %hr
      %h4 Open space
      %dl
        %dt Back yard open space
        %dd= @zone[:rear_yard_open_space]

        %dt Back yard open space
        %dd= @zone[:on_site_open_space]