.row-fluid
  .span9
    %h2 Zone definitions
    
    %table.table.table-bordered
      %thead
        %tr
          %th
          %th Zone Type
          %th Zone Class
          %th Description
          %th Floor Area Ratio
          %th Maximum Height
          %th Minimum Lot Area
      %tbody
        - @zones.each do |zone|
          %tr
            = "<td id='#{zone[:new_code].gsub(/\s+/,'-')}' class='zone-#{zone[:zone_type]}'></td>"
            = "<td>#{zone[:new_code]}</td>"
            = "<td>#{decodeZoneClass(zone[:zone_type])}</td>"
            = "<td>#{zone[:description]}</td>"
            = "<td>#{zone[:floor_area_ratio]}</td>"
            = "<td>#{zone[:maximum_height]}</td>"
            = "<td>#{zone[:minimum_lot_area]}</td>"