.row-fluid
  .span12
    %h2 Zone definitions
    %table.table.table-bordered
      %thead
        %tr
          %th
          %th Zone
          %th Description
          %th Floor area ratio
          %th Maximum height
          %th Density
      %tbody
        - @zones.each do |zone|
          - zone_css = zone[:district_type_code].gsub(/[^A-Z]/, '')
          %tr
            = "<td id='#{zone[:district_type_code].gsub(/\s+/,'-')}' class='zone-#{zone_css}'></td>"
            %td
              %a{:href => "/zone/#{zone[:district_type_code]}"}
                %h4
                  = zone[:district_type_code]
                  %small
                    %br
                    = zone[:disctrict_title]
            %td
              = zone[:juan_description]
            %td
              = zone[:floor_area_ratio]
            %td
              = zone[:maximum_building_height]
            %td
              = zone[:lot_area_per_unit]